@charset "utf-8";
@font-face {
    font-family: 'Gmarket Sans';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Gmarket Sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{margin: 0;padding: 0;}
li{list-style: none;}
a{
    display: block;
    text-decoration: none;
    color: inherit;
    transition: .3s;
}
img{display: block; max-width: 100%;}
body{
    color: #333;
    font-family: Gmarket Sans;
    font-weight: 500;
}

#header{
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;   

}
#header a{width: 50%;}
#footer{
    line-height: 60px;
    text-align: center;
    font-size: 1.5rem;
    background: #333;
    color: #fff;
}
.gnb{
    display: flex;
    justify-content: space-around;
    line-height: 32px;    
    background: #369;
    color: #fff;
}
.sub{display: none;}

.since{width: 30%;margin-left: auto;}
#contents li{padding: 16px 24px;}
.m_text span{line-height: 32px; color: #369;}
.m_text{line-height: 24px;}